.cartW{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    color: rgb(255, 255, 255);
    transition: 0.5s;
}

.cartW:hover{
    transform: scale(1.5);
}

small{
    text-decoration: none;
}