.card {
    margin: 50px 10px;
    border: 1px solid rgb(34, 33, 33);
    transition: 0.3s;
    background-color: rgba(245, 235, 235, 0.682);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.card:hover{
    transform: scale(1.1);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.card h5{
    text-shadow: 1px 1px;
    font-style: italic;

}

.price{
    font-weight: bold;}

.card-img-top{
    width: 100%;;
    border-bottom: 1px solid rgba(54, 54, 54, 0.207);
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}



