.header{
    border-bottom: 1px solid black;
    background: linear-gradient(90deg, rgba(0,120,150,1) 0%, rgba(140,64,199,1) 48%, rgba(255,3,139,1) 100%);
}

.logo{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.logo:hover{
    transform: scale(1.1);
    color: rgb(255, 255, 255);
}
.header p{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-style: none;
    
}

.header p:hover{
    color: rgb(255, 255, 255)
}




.navbar-nav{
    margin-right: 60px;
    gap: 10px;
}

.nav-item{
    transition: 0.3s;
    text-decoration: none;
    color: rgb(255, 255, 255)
}

.navbar-nav li:hover{
    transform: scale(1.1);
}

.navbar-toggler{
    margin-left: 150px;
}
